@use "@scss/MixinsInputs" as *;
@use "@scss/Variables" as *;

.coolinput {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 290px;
}

.coolinput>span,
.coolinput .input {
  white-space: nowrap;
  display: block;
}

.coolinput>span,
.coolinput .input:first-child {
  border-radius: 6px 0 0 6px;
}

.coolinput>span,
.coolinput .input {
  border-radius: 0 6px 6px 0;
}

.coolinput>span,
.coolinput .input {
  margin-left: -1px;
}

.coolinput .input {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  width: 1%;
  margin-top: 0;
  margin-bottom: 0;
}

.coolinput span {
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 25px;
  color: $color-span;
  background: $background-span;
  border: $border-span;
  font-weight: bold;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.coolinput:focus-within>span {
  color: $color-span-focus; // Light Beige
  background-color: $primary; // Ultramarine
  border-color: $primary; // Ultramarine
}

.input {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: $Dark-Olive;
  border: 1px solid $quinary; // Light Olive
  background: $Light-Cream;
  transition: border 0.3s ease, background 0.3s ease;
}

.input::placeholder {
  color: $quinary; // Light Olive
}

.input:focus {
  outline: none;
  border-color: $primary; // Ultramarine
  background-color: $Light-Yellow;
}

/* Состояние ошибки */
.input.error {
  border-color: $Light-Red;
  background-color: $Light-Peach;
  color: $Dark-Brown;
}

/* Отключенное состояние */
.input:disabled {
  background: $similar;
  color: $Light-Green;
  border-color: $quinary;
  cursor: not-allowed;
}

// .box {
//     position: relative;
//     width: 100%;
//     height: auto;
//     margin: 20px auto;

//     .input_email {
//         width: 100%;
//         height: 100%;
//         padding: 10px;
//         font: normal 16px 'Times New Roman', Times, serif;
//         border: 1px solid #ccc;
//         border-radius: 4px;
//         outline: none;

//         &:focus {
//             border-color: #007BFF;
//             /* Цвет границы при фокусе */
//             box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
//             /* Легкая тень при фокусе */
//         }

//         &::placeholder {
//             color: #888;
//             /* Цвет плейсхолдера */
//             font-style: normal;
//             /* Курсив для плейсхолдера */
//         }

//         &::selection {
//             background-color: #007BFF;
//             /* Цвет выделенного текста */
//             color: white;
//             /* Цвет текста при выделении */
//         }
//     }

//     .label_email {
//         position: absolute;
//         top: 50%;
//         left: 10px;
//         transform: translateY(-50%);
//         font: normal 16px 'Times New Roman', Times, serif;
//         color: #888;
//         pointer-events: none;
//         transition: 0.3s;
//     }

//     input:focus~.label_email ,
//     input:valid~.label_email {
//         top: 0;
//         font: normal 12px 'Times New Roman', Times, serif;
//         color: #007BFF;
//     }
// }