.box {
    position: relative;
    width: 400px;
    height: 40px;

    .input_title {
        width: 100%;
        height: 100%;
        padding: 10px;
        font: normal 16px 'Space Grotesk', sans-serif;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;

        &:focus {
            border-color: #007BFF;
            /* Цвет границы при фокусе */
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            /* Легкая тень при фокусе */
        }

        &::placeholder {
            color: #888;
            /* Цвет плейсхолдера */
            font-style: italic;
            /* Курсив для плейсхолдера */
        }

        &::selection {
            background-color: #007BFF;
            /* Цвет выделенного текста */
            color: white;
            /* Цвет текста при выделении */
        }
    }

    .label_title {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        font: normal 16px 'Space Grotesk', sans-serif;
        color: #888;
        pointer-events: none;
        transition: 0.3s;
    }

    input:focus~.label_title,
    input:valid~.label_title {
        top: 0;
        font: normal 12px 'Space Grotesk', sans-serif;
        color: #007BFF;
    }
}