// .wrapper {
//     max-height: 100%;
//     display: flex;
//     flex-direction: column;
//     .home {
//         flex: 1 1 auto;
//     }
// }
// .wrapper {
//     display: flex;
//     max-width: 100%;
//     flex-direction: column;
//     align-items: center;
//     gap: 30px;
// }



        
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #D2D2D2;
    background-image:
    repeating-linear-gradient(
        to right, transparent 0 100px,
        #25283b22 100px 101px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 100px,
        #25283b22 100px 101px
    );
}

.home > div { 
  
}