@use '../../scss/Variables.scss' as *;
@use '../../scss/Mixins.scss' as *;

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $white;

  .mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0; // Важно для правильной работы flex
  }

  .pageContent {
    flex: 1;
    width: 100%;
    min-height: 0; // Важно для правильной работы flex
  }
}
