$dark-blue: #274c5b;
$light-green: #7eb693;
$yellow: #efd372;
$line-color: #d4d4d4;
$pale-blue: #eff6f1;
$dark-gray: #525c60;
$white-gray: #e0e0e0;
$white: #ffffff;
$dark-gray-sail-price: #b8b8b8;



/*error style*/
$similar: #b9c0c4;
$Husky-Orange: #be6440;
$Ultramarine-Highlight: #2e3192;

$ease-in-out-quad: cubic-bezier(0.45,0,0.55,1);
$ease-in-out-cubic: cubic-bezier(0.65,0,0.35,1);
$ease-in-out-circ: cubic-bezier(0.85,0,0.15,1);