@use "@scss/Variables" as *;

$font: normal 16px 'Times New Roman', Times, serif;
$color-span: $quinary; // Light Olive
$background-span: $Ultramarine-Highlight; // Dark Ultramarine

$border-span: 1px solid $secondary;// Husky Orange


$color-span-focus: $tertiary; // Light Beige